@model ML.Usuario
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/Login.css" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

@using (Html.BeginForm("Login", "Movie", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <body>
            <div class="logo"></div>
            <div class="login-block">
                <h1>Login</h1>
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @id = "txtUsername", @placeholder = "Ejemp: framirez" })
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @id = "txtPassword", @placeholder = "Mínimo 1 numero, 1 letra Mayuscula y 1 letra Minuscula" })
                <button>Submit</button>
            </div>
        </body>
}
</html>

